<h2>Log in!</h2>

<form class="" action="/login" method="post">
<label for="email">Email: </label>
<input type="text" name="email" value=""> 
<label for="password">Password: </label>
<input type="password" name="password" value="">
<input type="submit" value="Login">
</form>
<br>
<%if flash[:alert] %>
<h3><%= flash[:alert] %></yh3h3>
<% end %>



<br>
<a href="/">Return to the home page</a>