<h2>Welcome <%= @user.name %>!</h2>

<h3>What would you like to do today?</h3>

  <a href="/book_entries/new">Create A New Entry</a>
   &nbsp;
  <a href="/book_entries">View All Of Your Book Entries</a>
  
  
