<h2>Create a new Entry: </h2>



<form class="" action="/book_entries" method="post">
<label for="title">Title: </label>
<input type="text" name="title" value=""> 
<label for="auther">Author: </label>
<input type="text" name="author" value="">
<label for="genre">Genre: </label>
<input type="text" name="genre" value="">
<input type="submit" value="Create Entry">
</form>