<h2>Welcome to My Library App! </h2>

<h3>If you're a new user, please <a href="/signup">Sign Up</a> to start using the app.<h3>
<h3>If you're a returning user, please <a href="/login">Log In</a> to view your data.<h3>


